---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: unifi-poller
  namespace: unifi
spec:
  selector:
    matchLabels:
      app: unifi-poller
  template:
    metadata:
      labels:
        app: unifi-poller
    spec:
      containers:
        - name: unifi-poller
          image: harbor.andreybondarenko.com/github/unpoller/unpoller:v2.16.0
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
          env:
            - name: UP_UNIFI_DEFAULT_PASS
              valueFrom:
                secretKeyRef:
                  name: unifi-password
                  key: password
            - name: UP_UNIFI_DEFAULT_URL
              value: https://192.168.1.1:443
            - name: UP_UNIFI_DEFAULT_USER
              value: shaman007
            - name: UP_UNIFI_DEFAULT_SAVE_DPI
              value: "true"
            - name: UP_INFLUXDB_DISABLE
              value: "true"
            - name: UP_LOKI_DISABLE
              value: "false"
            - name: UP_LOKI_URI
              value: "http://loki.monitoring.svc.cluster.local:3100"
            - name: UP_LOKI_VERIFY_SSL
              value: "false"
          resources:
            requests:
              memory: "100Mi"
              cpu: "10m"
            limits:
              memory: "100Mi"
          ports:
            - containerPort: 9130
