---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
  namespace: spotify
  labels:
    app: server
    tier: backend
    app.kubernetes.io/name: your-spotify
    app.kubernetes.io/instance: your-spotify
    app.kubernetes.io/version: "latest"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
      tier: backend
  template:
    metadata:
      labels:
        app: server
        tier: backend
    spec:
      containers:
        - env:
            - name: API_ENDPOINT
              value: https://spt-server.andreybondarenko.com
            - name: CLIENT_ENDPOINT
              value: https://spt.andreybondarenko.com
            - name: SPOTIFY_PUBLIC
              valueFrom:
                secretKeyRef:
                  name: spotify
                  key: SPOTIFY_PUBLIC
            - name: SPOTIFY_SECRET
              valueFrom:
                secretKeyRef:
                  name: spotify
                  key: SPOTIFY_SECRET
            - name: MONGO_ENDPOINT
              value: mongodb://mongodb.db.svc.cluster.local:27017/your_spotify
            - name: CORS
              value: "https://spt.andreybondarenko.com, \
                https://spt-server.andreybondarenko.com"
          image: harbor.andreybondarenko.com/dockerhub/yooooomi/your_spotify_server
          resources:
            requests:
              cpu: "10m"
              memory: "3060Mi"
            limits:
              memory: "3060Mi"
          name: server
          ports:
            - containerPort: 8080
              hostPort: 8080
              protocol: TCP
