---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-exporter
  namespace: db
  labels:
    app: postgres-exporter
    app.kubernetes.io/name: postgres-exporter
    app.kubernetes.io/instance: postgres-exporter
    app.kubernetes.io/version: "latest"
    app.kubernetes.io/managed-by: argoCD
spec:
  selector:
    matchLabels:
      app: postgres-exporter
  template:
    metadata:
      labels:
        app: postgres-exporter
    spec:
      containers:
        - name: postgres-exporter
          image: harbor.andreybondarenko.com/quay/prometheuscommunity/postgres-exporter:v0.18.1
          securityContext:
            runAsNonRoot: true
            runAsUser: 65534
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
          resources:
            requests:
              memory: "100Mi"
              cpu: "10m"
            limits:
              memory: "100Mi"
          env:
            - name: DATA_SOURCE_NAME
              valueFrom:
                secretKeyRef:
                  name: postgres-exporter
                  key: pgsource
          ports:
            - containerPort: 9187
              name: pmetrics
