apiVersion: apps/v1
kind: Deployment
metadata:
  name: photon
  namespace: dawarich
  labels:
    app: photon
    app.kubernetes.io/name: photon
    app.kubernetes.io/instance: photon
    app.kubernetes.io/managed-by: argoCD
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: photon
  template:
    metadata:
      labels:
        app: photon
    spec:
      containers:
        - name: photon
          image: harbor.andreybondarenko.com/library/photon:latest
          ports:
            - containerPort: 2322
          volumeMounts:
            - name: photon-data
              mountPath: /photon/photon_data
          resources:
            requests:
              memory: "1545Mi"
              cpu: "10m"
            limits:
              memory: "1545Mi"
      volumes:
        - name: photon-data
          persistentVolumeClaim:
            claimName: photon-data
