apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: dawarich-allow-ingress-from-traefik
  namespace: dawarich
spec:
  podSelector:
    matchLabels:
      app: dawarich
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: traefik
      ports:
        - protocol: TCP
          port: 3000
