---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: elastic-stack
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://helm.elastic.co
    targetRevision: 0.16.0
    chart: eck-stack
    helm:
      releaseName: es-quickstart
      values: |
        eck-kibana:
          enabled: false
        eck-elasticsearch:
          enabled: true
          nodeSets:
            - name: default
              count: 1
              config:
                node.store.allow_mmap: false
              podTemplate:
                spec:
                  containers:
                    - name: elasticsearch
                      resources:
                        requests:
                          memory: 3Gi
                        limits:
                          memory: 3Gi
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: elastic-stack
  syncPolicy:
    automated: {}
