---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-secrets
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://charts.external-secrets.io'
    targetRevision: 2.0.1
    chart: external-secrets
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: external-secrets
  syncPolicy:
    automated:
      enabled: true
    syncOptions:
      - ServerSideApply=true
