apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: harbor-allow-ingress-from-monitoring
  namespace: harbor
spec:
  podSelector: {}
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: monitoring
      ports:
        - protocol: TCP
          port: 8001
