apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: harbor-allow-ingress-from-traefik
  namespace: harbor
spec:
  podSelector: {}
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: traefik
      ports:
        - protocol: TCP
          port: 80
        - protocol: TCP
          port: 443
        - protocol: TCP
          port: 5000
        - protocol: TCP
          port: 8080
