apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: vault-allow-ingress-from-external-secrets
  namespace: vault
spec:
  podSelector: {}
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: external-secrets
      ports:
        - protocol: TCP
          port: 8200
