---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-deployment
  namespace: monitoring
  labels:
    app: prometheus-server
spec:
  strategy:
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      app: prometheus-server
  template:
    metadata:
      labels:
        app: prometheus-server
    spec:
      serviceAccountName: prometheus-server
      automountServiceAccountToken: true
      containers:
        - name: prometheus
          image:  harbor.andreybondarenko.com/dockerhub/prom/prometheus:latest
          args:
            - "--config.file=/etc/prometheus/prometheus.yaml"
            - "--storage.tsdb.path=/prometheus/"
            - "--web.enable-lifecycle"
            - "--storage.tsdb.no-lockfile"
            - "--web.external-url=https://prometheus.w386.k8s.my.lan"
            - "--storage.tsdb.min-block-duration=2h"
            - "--storage.tsdb.max-block-duration=2h"
            - "--storage.tsdb.retention.time=3d"
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: prometheus-config-volume
              mountPath: /etc/prometheus/
            - name: prometheus-storage-volume
              mountPath: /prometheus/
            - name: prometheus-config-shared
              mountPath: /etc/prometheus-shared/
          securityContext:
            runAsUser: 65534
            runAsGroup: 65534
          resources:
            requests:
              cpu: 348m
              memory: 2864Mi
            limits:
              memory: 2864Mi
        - name: thanos
          image:  harbor.andreybondarenko.com/quay/thanos/thanos:v0.39.1
          args:
            - "sidecar"
            - "--tsdb.path=/prometheus"
            - "--prometheus.url=http://127.0.0.1:9090"
            - "--objstore.config-file=/etc/thanos/objstore.yml"
          ports:
            - name: http-sidecar
              containerPort: 10902
            - name: grpc
              containerPort: 10901
          volumeMounts:
            - name: prometheus-config-volume
              mountPath: /etc/prometheus/
            - name: prometheus-storage-volume
              mountPath: /prometheus/
            - name: prometheus-config-shared
              mountPath: /etc/prometheus-shared/
            - name: objstoreyml
              mountPath: /etc/thanos/
          securityContext:
            runAsUser: 65534
            runAsGroup: 65534
          resources:
            requests:
              cpu: 10m
              memory: 439Mi
            limits:
              memory: 439Mi
      initContainers:
        - name: fix-perms
          image:  harbor.andreybondarenko.com/dockerhub/busybox
          command: ["sh", "-c", "chown -R 65534:65534 /prometheus"]
          volumeMounts:
            - name: prometheus-storage-volume
              mountPath: /prometheus
      volumes:
        - name: prometheus-config-volume
          configMap:
            defaultMode: 420
            name: prometheus-server-conf
        - name: prometheus-storage-volume
          persistentVolumeClaim:
            claimName: prometheus-lh
        - name: prometheus-config-shared
          emptyDir:
            sizeLimit: 10Mi
        - name: objstoreyml
          secret:
            secretName: thanos-objstore-secret
