apiVersion: apps/v1
kind: Deployment
metadata:
  name: stirling-pdf
  namespace: stirling-pdf
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: stirling-pdf
  template:
    metadata:
      labels:
        app: stirling-pdf
    spec:
      containers:
        - name: stirling-pdf
          image: harbor.andreybondarenko.com/dockerhub/stirlingtools/stirling-pdf:2.2.1-fat
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: configs
              mountPath: /configs
      volumes:
        - name: configs
          persistentVolumeClaim:
            claimName: stirling-pdf-configs
