apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: stirling-pdf-configs
  namespace: stirling-pdf
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
