apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  namespace: mail
  name: postfix-submission
spec:
  entryPoints:
    - submission
  routes:
    - match: HostSNI(`*`)
      services:
        - name: postfix-tls
          port: 587
          proxyProtocol:
            version: 2
