apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  namespace: mail
  name: dovecot-managesieve
spec:
  entryPoints:
    - managesieve
  routes:
    - match: HostSNI(`*`)
      services:
        - name: dovecot-managesieve
          port: 4190
