---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo-exporter
  namespace: db
  labels:
    app: mongo-exporter
    app.kubernetes.io/name: mongo-exporter
    app.kubernetes.io/instance: mongo-exporter
    app.kubernetes.io/version: "latest"
    app.kubernetes.io/managed-by: argoCD
spec:
  selector:
    matchLabels:
      app: mongo-exporter
  template:
    metadata:
      labels:
        app: mongo-exporter
    spec:
      containers:
        - name: mongo-exporter
          image:  harbor.andreybondarenko.com/dockerhub/percona/mongodb_exporter:0.47.2
          imagePullPolicy: Always
          args:
            - --mongodb.uri=mongodb://mongodb.db.svc.cluster.local:27017
            - --collector.profile
          resources:
               requests:
                 cpu: 10m
                 memory: 100Mi
               limits:
                 memory: 100Mi
          ports:
            - containerPort: 9216
