apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: monitoring-allow-egress-prometheus-kubernetes-api
  namespace: monitoring
spec:
  podSelector:
    matchLabels:
      app: prometheus-server
  policyTypes:
    - Egress
  egress:
    # kubernetes.default.svc:443 used by kubernetes-apiservers, kubernetes-nodes, and kubernetes-cadvisor jobs
    - to:
        - ipBlock:
            cidr: 10.43.0.1/32
      ports:
        - protocol: TCP
          port: 443
    # kube-router can enforce post-DNAT; allow direct API endpoint as well.
    - to:
        - ipBlock:
            cidr: 192.168.1.209/32
      ports:
        - protocol: TCP
          port: 6443
